.divMain {
    min-width: 100vw;
    min-height: 100vh;
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginMain {
    text-align: center;
  
    border: 3px ; 
    border-radius: 5px;
    width: 30%;
    height:430px;
    padding: 10px;
    background-color: white;  
    display: flex;
    align-items:center;
    justify-content:center;
    flex-Direction: column;
    -webkit-box-shadow: 0px 0px 8px 5px rgb(211, 218, 218);
-moz-box-shadow: 0px 0px 8px 5px rgb(211, 218, 218);
box-shadow: 0px 0px 8px 5px rgb(211, 218, 218);
    
    

}
.iconEdit{
    width:300px;
    margin-bottom: 30px;
}

.formButton {
    height: 33px;
    width: 100px;
    
    
}
.inputContainer {
    
    margin-bottom: 20px;
    border-radius: 5px;
    width: 280px;
    height: 30px;
    margin: auto;
    
    

}

@media only screen and (max-width: 800px)
{
    .loginMain 
    {
        text-align: center;
  
        border: 3px; 
        border-radius: 5px;
        width: 100%;
        
        padding: 10px;
        /*background-color: white; */
        display: flex;
        align-items:center;
        justify-content:center;
        flex-Direction: column;
    }
}

.formContainer {
    
    margin-bottom: 20px;
    border-radius: 5px;
    width: 280px;
    height: 30px;
    margin: auto;
    

}
@media only screen and (max-width: 1100px)
{
    .loginMain 
    {
        text-align: center;
  
        border: 3px; 
        border-radius: 5px;
        width: 700px;
        
        padding: 10px;
        /*background-color: white; */
        display: flex;
        align-items:center;
        justify-content:center;
        flex-Direction: column;
    }
}

.formContainer {
    
    margin-bottom: 20px;
    border-radius: 5px;
    width: 280px;
    height: 30px;
    margin: auto;
    

}
